
venv/
.env

__pycache__/
*/__pycache__/
*.py[cod]
*$py.class

db.sqlite3

media/

staticfiles/

.coverage
htmlcov/

.pytest_cache/

.vscode/
.idea/

.DS_Store
Thumbs.db

node_modules/

build/
dist/

*.log

# Celery Beat schedule files
celerybeat-schedule
celerybeat-schedule.dat
celerybeat-schedule.bak
celerybeat-schedule.dir